* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
}

.container {
  width: 90vw;
  background: grey;
}
.list {
  display: grid;
  grid-template-columns: 1fr;
}
.img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
